
*{

    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
    }
    
    body{
    
    display:flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient(135deg, #00C0ED);*/
    background-color: #00C0ED;
    
    
    
    }
    
    
    .container{
    max-width: 700px;
    width: 100%;
    background-color: #00C0ED;
    padding:25px 30px;
    border-color: #E6F4F1;
    border-style: solid;
    border-radius: 10px 10px;
    background: linear-gradient(rgba(0,0,0,0.26),rgba(0,0,0,0.26)),  url("../sfondi/AlmaSportLogo.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 700px; 
    margin-top: 20px;
    
    }
    
    .container .title{
    
        font-size: 46px;
        font-weight:500;
        position:relative;
        color: white;
        font-weight: bold;        
        text-align: center;
        font-style: italic;
        }
    
    .container .title::before{
    
        content: '';
        position: absolute;
        left:0;
        bottom:0;
        height:3px;
        width: 30px;
        background: linear-gradient(135deg, #666);
    
    }
    
    .container form .user-details{
        margin: 20px 0 12px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }
    
    form .user-details .input-box{
        margin-bottom:15px;
        width: calc(100% /2 -20px);
        font-size: 24px;
        color: white;
        font-weight: bold;
    }
    
    .user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
    font-weight: bold;
    }
    
    .user-details .input-box input{
     
        height:45px;
        width: 100%;
        outline: none;
        border-radius: 5px;
        border: 1px solid #fff;
        padding-left: 15px;
        font-size: 16px;
        border-bottom-width: 2px;
        transition: all 0.3s ease;
    
    
    }
    .user-details .input-box input:focus, 
    .user-details .input-box input :valid{
    
        border-color:#666;
    
    }
    
    form .status{
        display: flex;
        
    }
    form .status .status-title{
        font-size:32px;
        font-weight: 500;
        font-weight: bold;
        color: white;
        margin-top: 2%;
    }
    
    form .status .category{
        flex-wrap: wrap;
        display: flex;
        width: 80%;
        justify-content: space-between;
        margin: 2% 10%;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;  
        color: white;
        
    }
    
    .status .category label{
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
    }
    
    .status .category :hover{
        text-decoration: underline;
    }
    
    
    .status .category .dot{
    align-items: center ;
    height:18px;
    width: 18px;
    background: #fff;
    border-radius: 50%;
    margin-right:10px;
    margin-left: 10px;
    border:5px solid transparent;
    transition: all 0.3s ease;
    
    }
    
    
    #dot-1:checked ~ .category label .one, 
    #dot-2:checked ~ .category label .two,
    #dot-3:checked ~ .category label .three,
    #dot-4:checked ~ .category label .four,
    #dot-5:checked ~ .category label .five{
    
    border-color:#fff;
    background: #810614;
    }
    
    form input[type="radio"]{
    
    display: none;
    
    }
    
    form .button{
        display: flex;
        width: auto;
        height:45px;
        margin:40px 45px;
        margin-left :25%;
        align-self: center;
    
    
    }
    
    form .button input{
    
    height:100%;
    width: 75%;
    outline:none;
    align-self: center;
    border: none;
    font-size: 24px;
    font-weight:550;
    letter-spacing: 1px;
    border-radius: 5px 5px;
    cursor: pointer;
    transition: 0.3s;
    
    }
    
    form .button input:hover{
        transform: scale(1.1);
        background-color: #00C0ED;
        color: white;
    }
    .message p{
        text-align: center;
        background: #810614;
        padding: 20px 0px;
        border:1px solid white;
        border-radius: 5px;
        margin-block:70px;
        color: white; 
        font-size: 32px;
        font-weight: bold;
    }
    .container_btn{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    button{ 

        height: 80px;
        width:200px;
        background: rgba(90, 81, 216, 0.808);
        border: 0;
        border-radius: 10px;
        color: #fff;
        font-size: 32px;
        cursor: pointer;
        transition: all .3s;
        text-decoration: none;
        list-style: none;
        margin:0 20px;
        
    }    
    
    button:hover{
        text-decoration: none;
        list-style: none;
        transform: scale(1.1);
        color: #810614;
        background: white;
        opacity: 0.8;
    }
    

    
    
    /* Media query per dispositivi con larghezza massima di 768px */
    @media only screen and (max-width: 768px) {
        body{
            width: auto;
            height: auto;
        }
        .container {
            width: 90%; /* Ridimensionato la larghezza del contenitore per adattarsi meglio ai dispositivi più piccoli */
        }
        form .status{
            display: flex;
            }
        .container .title {
            font-size: 28px; /* Ridimensionato il font-size del titolo */
        }
    
        .user-details .input-box .details {
            font-size: 16px; /* Ridimensionato il font-size dei dettagli dell'utente */
        }

        form .button{
            text-align: center;
        }
    
        form .button input {
            width: 80%; /* Larghezza al 100% per occupare l'intera larghezza del contenitore */
            margin: 0 5%; /* Centrato orizzontalmente */
            font-size: 22px; /* Ridimensionato il font-size del pulsante */    }
        .message p{
            padding:15px 0;
            margin-block: 60px;
            font-size: 24px;
        }
        button{
            height: 70px;
            width: 150px;
            font-size: 24px;
            margin: 10px 10px;
            justify-content: center;       
        
        }
    }
    
    /* Media query per dispositivi con larghezza massima di 500px (mobile) */
    @media only screen and  (max-width: 550px) {        
        .container {
            
            display: block;
            padding: 15px; /* Ridimensionato il padding per adattarsi meglio ai dispositivi mobili */
        }
    
        .container .title {
            font-size: 24px; /* Ridimensionato il font-size del titolo per dispositivi mobili */
        }
    
        .user-details .input-box .details {
            font-size: 14px; /* Ridimensionato il font-size dei dettagli dell'utente per dispositivi mobili */
        }
        form .button{
            text-align: center;
            
    
        }
        form .button input {
            width: 100%; /* Larghezza al 100% per occupare l'intera larghezza del contenitore */
            max-width: 300px; /* Impostato una larghezza massima per il pulsante */
            margin: 0 5%; /* Centrato orizzontalmente */
            font-size: 18px; /* Ridimensionato il font-size del pulsante */
    
    
        }
        form .status .category{
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .message p{
            padding:15px 0;
            margin-block: 50px;
            font-size: 22px;
        }
        button{

            margin: 10px 15px;
            height: 10vh;
            width: 25vw;
            font-size: 20px;
        }
    }
    
    
